{% extends 'base.html.twig' %}
{% block title %}MyCoffeeShop | Nos produits{% endblock title%}
{% block javascripts %}
    <script src="{{ asset('scripts/slider.js') }}"></script>
{% endblock %}

{% block body %}
<section class="products">
<div class="products__contain">
{% for product in products %}
  <div class="products__contain__content">
    <img src="{{ asset('assets/best-seller.jpg') }}">
    <p class="products__contain__content__name">{{ product.name }}</p>
    <a class="products__contain__content__link" href="{{ path('product', {'name': product.name}) }}">Voir plus</a>
  </div>
{% endfor %}
</div>
    {{ knp_pagination_render(products) }}
</section>
{% endblock body %}