<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
		<link rel="icon" href="{{ asset('assets/cafe.png') }}">
		<script src="{{ asset('scripts/script.js') }}" ></script>
		<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>

		{% block stylesheets %}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>

	<body>
		{% include "header.html.twig" %}
		{% block body %}{% endblock body%}
		<footer>
			<ul>
				<li><a class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Home</a></li>
				<li><a class="{% if app.request.attributes.get('_route') == 'products' %}active{% endif %}" href="{{ path('products') }}">Nos produits</a></li>
				<li><a class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contactez - nous</a></li>
			</ul>
		</footer>
	</body>
</html>
